<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>

    {{!-- css file --}}
    <link rel="stylesheet" href="/static/css/style.css">

    {{!-- fontawesom link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

</head>

<body>

    <!-- Header Section -->

    {{> navbar data=navDetail}}
    
    
    <!-- Hero Section -->
    {{#each hero}}
    <section id="hero" style="background: url({{this.bgImage}}); background-size:cover; background-position: top 25% right 0;">
        <h4>{{this.subTitle}}</h4>
        <h2>{{this.titleOne}}</h2>
        <h1>{{this.titleTwo}}</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <a href="{{this.link}}">Shop Now</a>
    </section>
    {{/each}}

    <!-- Feature Section -->
    <section id="feature" class="section-p1">

        {{#each features}}

            <div class="fe-box">
                <img src="{{this.iconUrl}}" alt="image">
                <h6>{{this.title}}</h6>
            </div>

        {{/each}}
    
    </section>

    <!-- Product1 Section -->
    <section id="product1" class="section-p1">
        <h2>Feature Products</h2>
        <p>Summer Collection New Design</p>

        <div class="product-wrapper">
            <div class="product-box">
                <img src="/static/images/products/f1.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f2.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f3.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f4.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f5.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f6.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f7.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f8.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>

        </div>
    </section>

    <!-- Banner Section -->
    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off</span> - All t-Shirts & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>

    <!-- Product2 Section -->
    <section id="product1" class="section-p1">
        <h2>New Arrivals</h2>
        <p>Summer Collection New Design</p>

        <div class="product-wrapper">
            <div class="product-box">
                <img src="/static/images/products/n1.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n2.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n3.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n4.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n5.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n6.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n7.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/n8.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>

        </div>
    </section>

    <!-- Call To Action Banner  -->
    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best classic dress is on sale at coro</span>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>spring/summer</h4>
            <h2>upcoming season</h2>
            <span>The best classic dress is on sale at coro</span>
            <button class="white">Collection</button>
        </div>
    </section>

    <!-- Banner3 Section -->
    <section id="banner3">
        <div class="banner-box">
            <h2>SEASON SALE</h2>
                <h3>Winter Collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2">
            <h2>NEW FOOTWEAR COLLECTION</h2>
            <h3>Spring/Summer 2022</h3>
        </div>
        <div class="banner-box banner-box3">
            <h2>T-SHIRTS</h2>
            <h3>Winter Collection -50% OFF</h3>
        </div>
    </section>

    <!-- Newsletter Section -->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="left">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about out latest shop and <span>special offers</span></p>
        </div>
        <div class="right">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>


    <!-- Footer Section -->

    {{> footer}}


    <!-- javascript -->
    <script src="/static/js/script.js"></script>
</body>

</html>